{% extends 'loggs/base.html' %}
{% load static %}

{% block content %}

{% block page_header %}
  <h1>{{ logg.text}}</h1>
{% endblock page_header %}

<p>
  {% if logg.owner == request.user %}
      <a href="{% url 'loggs:new_log' logg.id %}">Add new log</a>
  {% endif %}
</p>
<ul>
  {% for log in logs %}
    <div class="card mb-3">
      <!-- Card header with timestamp, edit and delete link -->
      <h4 class="card-header">
        {{ log.date_added|date:'M d, Y H:i' }}
        <small>
          {% if logg.owner == request.user %}
            <a href="{% url 'loggs:edit_log' log.id %}">Edit Log</a>
          {% endif %}
        </small>
      </h4>
      <!--Card body with entry log text-->
      <div class="card-body">{{ log.text|linebreaks }}</div>
      {% if logg.owner == request.user %}
        <form class="delete-form" action="{% url 'loggs:delete_log' log.id %}" method="post" style="display:inline;">
          {% csrf_token %}
          <button type="submit" class="btn btn-danger delete-btn">Delete Log</button>
      {% endif %}
          </form>
    </div>
  {% empty %}
    <p>There are no entries for this Logg yet.</p>
  {% endfor %}
</ul>
<p>
  {% if logg.owner == request.user %}
      <form class="delete-form" action="{% url 'loggs:delete_logg' logg.id %}" method="post" style="display:inline;">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger delete-btn">Delete Logg</button>
      </form>
  {% endif %}
</p>



{% endblock content %}


{% block extra_js%}
<script src="{% static 'js/delete_logs.js' %}"></script>
{% endblock extra_js %}
